@model AppUser
@{
    ViewBag.Title = "Manage User Account";
}

<h1>Manage Account</h1>
<div>
    <label asp-for="@Model.UserName"></label>
    <span>@Model.UserName</span>
</div>
@if (@Model.Student != null)
{
    <h4>Student</h4>
    <div>
    <label asp-for="@Model.Student.Name"></label>
    <span>@Model.Student.Name</span>
</div>
}
@if (@Model.Administrator != null)
{
    <h4>Administrator</h4>
    <div>
    <label asp-for="@Model.Administrator.Name"></label>
    <span>@Model.Administrator.Name</span>
</div>
}
<a asp-action="Edit" asp-controller="Account" asp-route-id="@Model.UserName">Edit</a>